@import "normalize";
@import "compass";

$color-meal-bg: #ffbe22;

$color-main: white;
$color-secondary: #74c8b7;
$color-loaded: white;

$color-white: white;
$color-title: #f05a23;
$color-subtitle: #cccccc;
$color-address: #404040;
$color-light: #f2f2f2;
$font-family-normal: Montserrat, sans-serif;

@mixin animation($anim) {
    -webkit-animation: $anim;
    -moz-animation: $anim;
    animation: $anim;
}

html, body, main, .container, .rn-carousel-container, .swipe-container {
    width: 100%;
    height: 100%;
}

.venue-container {
    min-height: -webkit-calc(100% - 3em);
    min-height: calc(100% - 3em);
    height: auto;
    padding-bottom: 3em;
}

body {
    font-size: 10px;
}

.container {
    background-color: $color-main;
    font-family: $font-family-normal;
}

.swipe-container {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.category {
    padding: 3em 4em;
    @include box-sizing(border-box);
    position: relative;
    height: 100%;

    .category-title {
        max-width: 100%;
        margin: 3em auto;
        display: block;
    }

    background: {
        repeat: no-repeat;
        position: 50% 50%;
        size: 50%;
    }
}

.meal-category {
    background: {
        color: $color-meal-bg;
        image: url(../images/meal-bg.png);
    }

    .loading & {
        @include animation(shake-bg .5s infinite);
    }
}

.swipe-instruction {
    font-size: 1.6em;
    color: white;
    opacity: 0.5;
    text-align: center;
    position: absolute;
    bottom: 3em;
    left: 0;
    width: 100%;
    text-align: center;
}




.button {
    border: none;
    padding: 1em 0;
    margin: 0 auto;
    display: block;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 400;
    max-width: 300px;
    width: 100%;
    letter-spacing: .1em;

    &:focus {
        outline: none;
    }
}


.result {
    background-color: $color-loaded;
    display: block;
    padding: 0;
}
.venue-container {
    display: block;
}
.venue {
    @include box-sizing(border-box);
    padding: 3em 3em 0 3em;
    // max-height: -webkit-calc(100% - 12em);
    // max-height: calc(100% - 12em);

    // &:after {
    //     position: absolute;
    //     bottom: 0;
    //     left: 0;
    //     height: 100%;
    //     width: 100%;
    //     content: "";
    //     @include background(linear-gradient(rgba(255, 255,255, 0) 60%, rgba(255, 255, 255, 1) 75%));
    //     pointer-events: none;
    // }
}

.venue-link {
    text-decoration: none;
}

.venue-title {
    font-weight: 700;
    color: $color-meal-bg;
    font-size: 3.2em;
    line-height: 1.2;
    margin-bottom: .3em;
    margin-top: 0;
}

.venue-subtitle {
    font-weight: 700;
    color: $color-subtitle;
    font-size: 1.8em;
    line-height: 1;
    margin-top: 0;
}

.venue-address, .venue-distance {
    font-weight: 700;
    color: $color-address;
    font-size: 1.8em;
    line-height: 1.3;
    margin: 0;
}

.venue-distance {
    margin-top: 2em;
}

.venue-address {
    margin-bottom: 2em;
}

.venue-tip {
    font-weight: 400;
    color: $color-subtitle;
    font-size: 1.8em;
    line-height: 1.3;
    margin: 0 0 2em 0;

    text-align: justify;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;

    text-indent: -.4em;
    &::before {
        content: "\00201C";
    }
    &::after {
        content: "\00201D";
    }
}

.shake-button {
    @extend .button;
    width: -webkit-calc(100% - 3em);
    width: calc(100% - 3em);
    // position: absolute;
    // bottom: 2em;
    // left: 1.5em;
    border-radius: 4em;
    height: 4em;
    background: {
        color: $color-meal-bg;
        image: url(../images/meal-bg-opacity.png);
        repeat: no-repeat;
        position: 50% 50%;
        size: 30%;
    }

    .loading & {
        @include animation(shake-bg .5s infinite);

        img {
            @include animation(shake .5s infinite);
        }
    }

    img {
        max-width: 80%;
    }
}

.container.main {
    &.ng-hide-add {
        @include transition(.6s ease-in all);
        @include transform(translateY(-100%));
        display: block !important;
    }

    &.ng-hide-add.ng-hide-add-active {
        @include transform(translateY(0%));
    }
}

.container.result {
    &.ng-hide-remove {
        @include transition(.6s ease-out all);
        @include transform(translateY(-100%));
        display: block !important;
    }

    &.ng-hide-remove.ng-hide-remove-active {
        @include transform(translateY(0%));
    }
}




@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}

@-webkit-keyframes shake-bg {
    0%, 100% {background-position: 50% 50%; }
    10%, 30%, 50%, 70%, 90% {background-position: 40% 50%; }
    20%, 40%, 60%, 80% {background-position: 60% 50%; }
}

@-moz-keyframes shake-bg {
    0%, 100% {background-position: 50% 50%; }
    10%, 30%, 50%, 70%, 90% {background-position: 40% 50%; }
    20%, 40%, 60%, 80% {background-position: 60% 50%; }
}

@keyframes shake-bg {
    0%, 100% {background-position: 50% 50%; }
    10%, 30%, 50%, 70%, 90% {background-position: 40% 50%; }
    20%, 40%, 60%, 80% {background-position: 60% 50%; }
}
