node_modules
dist
.DS_Store
.idea
.tmp
.sass-cache
.vagrant
.ftppass
Vagrantfile
ConfR.sublime-workspace
.tern-port
app/bower_components
app/scripts/constants.js
.ftppass

www
!www/config.xml
!www/res
