<div class="container info" ng-class="{'loading': loading}">
    <header>
        <a href="#/" class="icon icon-close">X</a>
    </header>
    <div class="inside">
        <h1>Mealshaker</h1>
        <p>We made Mealshaker to help you find new places to eat and drink, wherever you are.</p>
        <p>Tell your friends about Mealshaker!</p>
        <div class="share-buttons">
            <ul>
                <li><button facebook-share description="venue.name" class="facebook">facebook</button></li>
                <li><button twitter-share description="venue.name" class="twitter">twitter</button></li>
            </ul>
        </div>
    </div>
    <footer class="inside">
        <p>Made by <a href="https://thecometcult.com/">The Comet Cult</a>.<br>
        Powered by <a href="https://4sq.com/">Foursquare</a>.</p>
    </footer>
</div>
