<div class="container result" ng-hide="!venue" ng-class="{'loading': loading}">
    <section class="venue-container">
        <footer class="mealshake-logo"><img src="/images/meal-footer.png" alt=""></footer>
        <div class="venue">
            <a class="venue-link" ng-href="{{venue.canonicalUrl}}" target="_blank">
                <h1 ng-bind="venue.name" class="venue-title"></h1>
                <p class="venue-distance"><span ng-bind="venue.location.distance"></span> meters from you!</p>
                <p ng-if="venue.location.address || venue.location.city" class="venue-address">
                    <span ng-if="venue.location.address" ng-bind-template="{{venue.location.address}},"></span> <span ng-bind="venue.location.city"></span>
                </p>
            </a>
            <blockquote ng-bind="tip.text" class="venue-tip"></blockquote>
        </div>
        <div class="button-container">
            <button class="shake-button" ng-click="getRandomLunchVenue(currentCategory)">
                <span class="desktop-hide">Shake for meal</span>
                <span class="mobile-hide">Click for meal</span>
            </button>
        </div>
    </section>
</div>
<div class="container main" ng-hide="venue" ng-class="{'loading': loading}">
    <ul class="swipe-container">
        <li ng-repeat="cat in categories" ng-class="cat+'-category'" class="category" ng-click="getRandomLunchVenue()">
            <header class="top">Mealshaker</header>
            <p class="swipe-instruction desktop-hide">Shake your phone to <br> find a place to eat.</p>
            <p class="swipe-instruction mobile-hide">Click the icon to find a <br> place to eat.</p>
            <footer class="tcc">
                <span>Visit this site on your phone and shake it like a mad man<br></span>
                made with&nbsp;&nbsp;♡&nbsp;&nbsp;by The Comet Cult<br>
                Powered by <a target="_blank" href="https://foursquare.com">Foursquare</a>
                </footer>
        </li>
    </ul>
</div>