<div class="swipe-container main" ng-hide="venue" ng-class="{loading: loading}" ng-swipe-left="goTo('beer')" ng-swipe-right="goTo('meal')">
    <div class="container swipe-item" ng-repeat="cat in categories" ng-class="[cat.id === currentCategory ? 'selected' : '', cat.id + '-cat']">
        <header>
            <a href="#/info" class="left icon icon-info">i</a>
            <ul class="page-indicator right"><li ng-repeat="c in categories" ng-class="{selected: c.id === currentCategory}" ng-click="goTo(c.id)">&middot;</li></ul>
        </header>
        <div class="inside">
            <footer>
                <button class="main-button" ng-click="getLunchVenue()"></button>
                <p class="swipe-instruction desktop-hide" ng-if="!loading && !errorMessage">Shake your phone to <br> find a place {{cat.text}}.</p>
                <p class="swipe-instruction swipe-instruction-desktop mobile-hide" ng-if="!loading && !errorMessage" ng-click="getLunchVenue()">Click the icon to <br> find a place {{cat.text}}.</p>
                <p class="swipe-instruction funny-text" ng-repeat="text in texts" ng-if="$index === loadingTextIndex" ng-bind="text"></p>
                <p class="swipe-instruction funny-text error" ng-show="errorMessage" ng-bind-html="errorMessage"></p>

                <div class="distance">
                    Search range: <strong>{{search.distance | format_distance}}</strong>
                    <rzslider rz-slider-floor="200" rz-slider-ceil="20000" rz-slider-model="search.distance" rz-slider-step="100" rz-slider-precision="0"></rzslider>
                </div>
            </footer>
        </div>
    </div>
</div>

<div class="container result" ng-show="venue" ng-class="[currentCategory + '-cat', loading?'loading':'', venue?'':'no-venue']">
    <header>
        <a href="#/" ng-click="goBack($event)" class="left icon icon-back">&lt;</a>
    </header>
    <div class="inside">
        <div ng-if="!loading && !errorMessage">
            <h1 class="venue-title">{{venue.name}}</h1>
            <p class="venue-distance" ng-if="venue.location.distance">{{venue.location.distance | format_distance}} from you!</p>
            <p ng-if="venue.location.address || venue.location.city" class="venue-address">
                {{venue.location.address}}, {{venue.location.city}}
            </p>
            <div class="venue-tip-container">
                <blockquote resize-blockquote class="venue-tip" ng-if="tip.text">&ldquo;{{tip.text}}&rdquo;</blockquote>
            </div>
        </div>
        <h1 class="funny-text" ng-repeat="text in texts" ng-if="$index === loadingTextIndex" ng-bind="text"></h1>
        <h1 class="funny-text error" ng-show="errorMessage" ng-bind-html="errorMessage"></h1>
    </div>
    <footer>
        <div class="share-buttons" ng-if="!errorMessage && !loading && venue">
            <label>Share</label>
            <ul>
                <li><button facebook-share description="venue.name" class="facebook">facebook</button></li>
                <li><button twitter-share description="venue.name" class="twitter">twitter</button></li>
                <li ng-class="{disabled: !venue.contact.phone}"><a class="button phone" ng-click="callNumber($event, venue.contact.phone)">phone</a></li>
                <li ng-class="{disabled: !venue.location.lat}"><a class="map button" ng-click="openMap($event)" ng-href="http://maps.apple.com/?q={{venue.location.lat}},{{venue.location.lng}}">map</a></li>
            </ul>
        </div>
        <button class="shake-button" ng-click="getLunchVenue(currentCategory)">Keep on shakin&apos;</button>
    </footer>
</div>

<div class="dialog" ng-if="dialog.text" ng-class="currentCategory + '-cat'">
    <div class="dialog-container">
        <div class="dialog-header"><span ng-click="hideDialog()" class="close">&times;</span></div>
        <div class="dialog-body" ng-bind-html="dialog.text"></div>
    </div>
</div>

